<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- <link rel="stylesheet" type="text/css" href="public/stylesheet/style.css" > -->
    <script   src="https://cdn.tailwindcss.com"> </script>
    <title>blog</title>
</head>
<body class="bg-slate-200">
    <nav class="flex items-center justify-between flex-wrap bg-black p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <span class="font-semibold text-xl tracking-tight">Blog</span>
        </div>
        
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            <a href="/articles" class="block mt-4 lg:inline-block lg:mt-0 text-slate-200  hover:text-white mr-4">
              all articles
            </a>
            <a href="/articles/new" class="block mt-4 lg:inline-block lg:mt-0 text-slate-200  hover:text-white mr-4">
                new article
            </a>
            <%_ if(req.session.logined == true){ -%>
                <a href="./users/logout" class = "block mt-4 lg:inline-block lg:mt-0 text-slate-200  hover:text-white mr-4">
                    logout
                </a>
            <%_ }else{ -%>
                <a href="./users/login" class="block mt-4 lg:inline-block lg:mt-0 text-slate-200  hover:text-white mr-4">
                    login
                </a>
            <%_ } -%>

          </div>
        </div>
    </nav>
    <div > 
        
        <% articles.forEach(article => { %>
            <div class="card hover:shadow mx-auto bg-white" style="width:50rem">
                <div class = "mt-4 card-body rounded overflow-hidden shadow-lg">
                    <h4 class = "font-bold text-xl mb-2 mt-4 ml-3"><%= article.title %></h4>
                    <div class = "font-semibold text-gray-500 mr-2 mb-2 ml-3"> 
                        <%= article.create_at.toLocaleDateString() %>
                    </div>
                    <div class = "text-sm font-semibold ml-3 text-gray-500 mb-2 ">
                        <%= article.create_by %>
                    </div>
                    <div class ="text-gray-700 text-base mb-4 ml-3"><%= article.description %></div>
                    
                    <span onclick="location.href='./articles/<%= article.id %>'" class = "btn inline-block bg-black rounded-full px-3 py-2 text-sm font-semibold text-white text-center mb-4 ml-3">read more</span>
                    <%_ if(req.session.username == article.create_by){ -%>
                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="inline">
                        <button type="submit" class="btn inline-block bg-black rounded-full px-3 py-2 text-sm font-semibold text-white text-center mb-4 ml-3">delete</button>
                    </form>
                    <%_ } -%>

                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>  